
<!-- ñññññññññññññññññññññ -->


<style>
    .busquedaGlobal {
      font-size: 18px;
      padding: 7px;
      background-color: #b49f9f;
      color: rgb(19, 19, 20);
      border-radius: 5px;
    }
</style>

<style>
    .Logo {
      width: 150px;
      height: 50px;
      background-image: url('/ruta/a/la/imagen.jpg');
      background-size: cover;
      border: none;
      cursor: pointer;
    }
    /* el logo va en otro lado no dentro del listado! */
</style>

<div class="menu fixed-top ">
 <nav class="py-2 border-bottom row" style="background-color:  #1B4571;">
     <ul class="nav me-auto col col-2 offset-1">
         <li class=""><a href="/" class="nav-link link-light px-2 " aria-current="page"><i class="bi bi-house-door-fill"></i> Inicio</a></li>
        <!-- <% if (username !== 0) { %> -->
        <!-- <li ><a href="#" class="nav-link link-light " aria-current="page"><i class="bi bi-star-fill"></i> Mis Favoritos</a></li> -->
        <!-- <%} %> -->
         <!--<li class="nav-item"><a href="#" class="nav-link link-light px-2">SIN FUNCION</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-light px-2">SIN FUNCION</a></li>
         <li class="nav-item"><a href="#" class="nav-link link-light px-2">SIN FUNCION</a></li>
         <li class="nav-item"><a href="#" class="nav-link link-light px-2">SIN FUNCION</a></li> -->
     </ul>


     <form action="/films/list" method="POST" class="col col-4 offset-1" role="search">
        <ul class="nav">
            <li class="nav-item">
                <select class="busquedaGlobal" name="busqueda" id="busqueda" aria-haspopup="true" aria-expanded="false">
                    <option value="0">KeyWord</option>
                    <option value="1">Titulo</option>
                </select>
            </li>
            <li class="nav-item">
                <input id="busquedaGlobal" type="search" class="form-control keyword" placeholder="Busqueda..." aria-label="Search" name="nombreBuscar" required>
            </li>
            <li class="nav-item">
                <button id="botonBusqueda" type="submit" class="btn btn-success keyword"><i class="bi bi-search"></i></button>
            </li>
            
            <!-- <li class="nav-item"><label for="type">Título</label></li> -->
            <!--  -->
            
            <!-- <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-check-outlined">Single toggle</label><br>               -->
        </ul>                
    </form>
     <!-- <ul class="nav">
         
         <li class="nav-item"><a href="#" class="btn btn-success px-2">Login</a></li>
         <li class="nav-item"><a href="#" class="btn px-2">Sign up</a></li>
     </ul> -->
         <ul class="nav col col-1 offset-2">
             <li class="nav-item dropdown">
                  <!-- <%=username%> -->
                 <!-- Si esta conectado -->
                 <% if (username === 0) { %>
                    <a class="nav-link dropdown-toggle link-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                
                     <i class="bi bi-person-circle"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item align-items-center" href="/login">Login</a></li>
                        <!-- <li><a class="dropdown-item" href="#">Usuario</a></li>-->
                        <li><hr class="dropdown-divider"></li> 
                        <!-- <li><a class="dropdown-item" href="#" onclick="mostrarRegistro()">Registro</a></li> -->
                        <li><a class="dropdown-item align-items-center" href="/users/signup">Registro</a></li>
                    </ul>
                 <% } else { %>
                    <!-- Si no esta conectado -->
                    <a class="nav-link dropdown-toggle link-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                
                        <%=username%>
                       </a>
                       <ul class="dropdown-menu">
                        <li><a class="dropdown-item align-items-center" href="#"><i class="bi bi-star-fill"></i> Mis Favoritos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item bg-danger align-items-center" href="#"><i class="bi bi-x-circle-fill"></i> Cerrar Sesion</a></li>
                        
                    </ul>
                 <%} %>
                 
                 
                 
             </li>
         </ul>                 
</div>

 </nav>
</div>


