 /* *{
  font-family: 'Space Mono', monospace;
 } */

 body {
  font-family: 'Roboto Condensed', sans-serif;
  
 } 



 

 .contenido{
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
}

.portada{
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}

h2 {
  margin-bottom: .5em;
}
.containerGridCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}


/* hover styles */
.imgCardContainer {
  position: relative;
  box-shadow: 0px 5px 15px rgb(0, 0, 0 ,0.25);
  /* background-color:  #1B4571; */
}

.imgCard {
  line-height: 0;
  overflow: hidden;
}

.imgCard img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.0);
}

.titleCard {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(0, 9, 90, 0.4);
  color: white !important; 
  
  text-align: center;
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgCardContainer:hover .titleCard {
  opacity: 1;
}

.imgCardContainer:hover .imgCard img {
  filter: blur(2px);
  -webkit-transform:scale(1.3);transform:scale(0.9);/*Para contraer imagenes*/
}


/* for touch screen devices */
@media (hover: none) { 
  .titleCard {
    opacity: 1;
  }
  .imgCard img {
    filter: blur(2px);
  }
}

.fondoMenu{
  background-color: #1B4571;
  color: white !important;
}